<% provide(:title, "アーチェリー") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>アーチェリー</h1>
</div>
</div>

<div class="panel panel-default">
  <h3>興味タイプ：RC</h3>
</div>

  <%= image_tag("archery2.jpg", :class => "img-responsive img-thumbnail") %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
      <h3>アーチェリーとは？</h3>
    </div>
  </div>
</div>
  <p>アーチェリーとは、弓を引いて、矢を放ち、そして、矢の当たったところで点数が決まるというスポーツです。   的の中心が最も得点が高く、競技の種類によって的までの距離が変わってきます。
     </p>

 <p>
   オリンピック競技としても有名で、日本のみならず世界中で楽しまれているスポーツです。   また、弓道と違い、気軽に楽しめることも魅力の一つです。
 </p>

 <div class="panel panel-default panel-info">
   <div class="panel-heading">
     <h3>アーチェリーのよいところ</h3>
</div>
</div>

  <div class="panel panel-default">
      <h2>多様な楽しみかた</h2>
 </div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/rzj4FFi7wt8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

  <p>
    日本では、まだまだメジャーなスポーツではないアーチェリーですが、近年注目を浴びてます。その理由は、他のスポーツのように体力や筋力はそれほど必要ではなく、高齢者や女性でも気軽に楽しむことができますので、生涯できるスポーツとして最適だからです。
  </p>
    <p>
      一見、弓をひくのに強い力が必要そうですが、女子中学生でも弓を引くことができ、性別や年齢に関わりなくどなたでも楽しめるスポーツです。
    </p>

    <p>
      一方、全日本選手権大会や国体、さらにはオリンピックや世界選手権大会など、競技スポーツとして楽しむ人も多くおり、一つのことを極める楽しみも味わうことができ、競技人口も今の日本では少ないため、初心者の方でもに大会に出場しやすいスポーツでもあります。
    </p>

    <div class="panel panel-default">
        <h2>体幹が鍛えられて姿勢が良くなる</h2>
   </div>

   <%= image_tag("archery4.jpg", :class => "img-responsive img-thumbnail") %>

  <p>
    アーチェリーでは特別な筋力が必要ありませんが、代わりに、きちんとした姿勢と強い体幹が必要となります。 体幹とは胴体のことで、アーチェリーを続けていくうちに、自然と体幹が鍛えられていくでしょう。
  </p>

  <p>
    体幹が鍛えられると体の歪みが改善され、美しい姿勢になることができます。 また、背筋が伸びると、それに引っぱられて自然とお腹もへこむので、きついダイエットをしなくても、スッキリとした見た目を手に入れることができるのです。
  </p>

  <div class="panel panel-default">
      <h2>集中力を鍛える事ができる</h2>
 </div>

 <%= image_tag("meditation3.jpg", :class => "img-responsive img-thumbnail") %>

  <p>
    アーチェリーのような個人スポーツで大切ことの一つとして集中力が挙げられます。 特にアーチェリーでは、手元の1ミリのズレが的では数十センチにズレになるため、強い集中力が求められます。 指導員や他の人もそのことを熟知しているため、初心者でも必要以上に集中力を削ぐような口出しされることはありません。
  </p>

  <p>
    はじめのうちはアーチェリーに集中しきれないかもしれませんが、続けていくうちにどんどん集中力が鍛えられていくでしょう。
  </p>

  <p>
    勉強や仕事のような人生のあらゆる局面で役に立つ集中力を楽しみながら身につけられるのは、アーチェリーの面白さの一つです。
  </p>

  <div class="panel panel-default">
      <h2>的を射抜く時の爽快感でストレスの解消ができる</h2>
 </div>

  <%= image_tag("archery1.jpg", :class => "img-responsive img-thumbnail") %>

  <p class="pic_bottom">
    アーチェリーは、最初から本格的な道具を使うことができます。 たとえ的までの距離が近くても、矢を放ったり的に当たったりすると、スカッとして気持ちの良いものです。 日常生活のイライラやストレスが一気に吹っ飛んで、スッキリした気分になりますし、良いストレス解消にもなるでしょう。
  </p>

  <p>
    アーチェリーは弓道と違い、初心者でも簡単に的に当てることができるので、的に当たらずかえってストレスが溜まってしまった…ということもないでしょう。
  </p>

  <div class="panel panel-default panel-info">
    <div class="panel-heading">
      <h3>アーチェリーの始め方</h3>
 </div>
 </div>

  <div class="panel panel-default">
      <h2>あなたが住んでいる場所近くのアーチェリー場を見つけよう</h2>
 </div>

 <%= image_tag("aquarium_visiting6.jpg", :class => "img-responsive img-thumbnail") %>

  <p>
    アーチェリーは、アーチェリー場のような特別な施設がないと行うことができない趣味です。まずはスマートホンやパソコンなどで近くのアーチェリー場を見つけましょう。
  </p>

  <p>
    初めての人は初めてであることを指導員に伝えれば、初心者指導を複数回受けることができます。指導員がいる日や時間を事前に調べてから施設に行きましょう。
  </p>

  <p>
    初心者指導を修了すれば、アーチェリー場の開店日であればいつでも行けるようになります。感覚を忘れないためにも頻繁に通ったほうが良いでしょう。
  </p>

  <p>
    開店日は場所によって変わるので、上手になりたい方は複数のアーチェリー場に通うのもおすすめです。
  </p>

  <div class="panel panel-default">
      <h2>必要な服装や持ち物は？</h2>
 </div>

 <%= image_tag("archery5.jpg", :class => "img-responsive img-thumbnail") %>

    <p>
      アーチェリー場のほとんどが屋外です。夏場であれば問題はないのですが、冬場の寒さ対策はしっかり行いましょう。しかし、あまりにも厚着しすぎると、弓矢を射つのが難しくなるため、冬場は薄くてもしっかり暖かい服を着ましょう。また、顔の真下まで弦を持ってきて弓を引くので、フードやえり付きの服は避け他方が良いでしょう。

    </p>

    <p>
      アーチェリーに必要な持ち物ですが、初めのうちは手ぶらで大丈夫です。もし楽しいと感じることができ、これからも続けていけそうだと感じたら、まずはサポーターなど安いものから揃えていきましょう。

    </p>

    <p>
      もちろん、大会に出るようになったり、長く続けていけそうならば、自分用の弓矢を購入しても良いと思います。

    </p>

    <div class="panel panel-default">
        <h2>自宅でトレーニング</h2>
   </div>

   <%= image_tag("archery3.jpg", :class => "img-responsive img-thumbnail") %>

    <p>
      スケジュールの都合によってはアーチェリー場に行けない日もあると思います。
      そんなときは、自宅でアーチェリーの練習をしましょう。

    </p>

    <p>
      弓を引く練習には、ダイソーなどの100円ショップで販売されているストレッチャーが役に立ちます。 ストレッチャーとは、輪っか状になっているゴムのチューブのことです。
    </p>

    <p>
      弓を引く感覚にかなり近いので、アーチェリーのみならず、弓道の練習にも使われていますので、毎日続けてアーチェリーの基本を練習していきましょう。

    </p>
    <div class="panel panel-default panel-info">
      <div class="panel-heading">
        <h3>まとめ</h3>
   </div>
   </div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/gBTcjLlmm2A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

    <p class="pic_bottom">
      アーチェリーは年齢や性別を気にしないで気軽に始められる趣味です。 決して難しい競技ではないので、初めての方でも矢を的に当てる達成感や楽しさを十分味わえるでしょう。
    </p>

    <p>
      また、筋力や体力はそれほど必要ではないため、老後も続けていける生涯スポーツを探している人にもおすすめです。

    </p>

    <p>
      さらに、日本国内での競技人口は少ないため、人とは違うユニークな趣味を持ちたい人や大会に参加したいという人にもぴったりでしょう。
    </p>

    <p>
      他のスポーツとは一味違った魅力を持つアーチェリーを、あなたも始めてみてはいかがでしょうか。

    </p>
</div>
</div>
</div>
</div>
