<% provide(:title, "ビーチコーミング") %>
<div class="container">
  <div class="row">
    <div class="col-md-7 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>ビーチコーミング</h1>
</div>
</div>

<div class="panel panel-default">
    <h3>興味タイプ：CR</h3>
  </div>

  <%= image_tag "beach_combing2.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default">
      <h3>ビーチコーミングとは？</h3>
  </div>
</div>

<p>
  海岸を歩いていると、ついつい落ちている貝殻やきれいな意思を拾い集めてしまうことはありませんか？このように海岸を歩いて貝殻やシーグラスといった漂着物を観察したり、拾い集めることを「ビーチコーミング」というんです！
</p>

<p>
  きれいな貝殻や漂流物などを見つけると、テンションが上がりますね！
</p>

<p>
  ここでは、そんなビーチコーミングの紹介をします！
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>ロードバイクのよいところ</h3>
</div>
</div>

<div class="panel panel-default">
<h2 >ハンドメイドの作品の素材集めに！</h2>
</div>

<div class="youtube_container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/gkQlwZwxzlI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

<p>
  ビーチコーミングの魅力のひとつとして、シーグラスや貝殻などの漂流物を使って行う作品作りがあります。
</p>

<p>
  海岸できれいなシーグラスや貝殻を拾うことができたら、拾ったものでアクセサリーやランプシェードなどを作ってみませんか？簡単なアクセサリーでもけっこうかわいいものが作れます。上手に作ることができたら、販売することもできます。実際にシーグラスで作ったランプシェードやアクセサリーを完売しているハンドメイド作家さんがもたくさんいますよ。
</p>

<p>
  手先が不器用であれば、写真立てに貝殻をつけてみたり、ガラス瓶に貝殻やシーグラスを入れるだけでも十分かわいいインテリアになります。
</p>

<div class="panel panel-default">
<h2>カロリー消費に効果あり！</h2>
</div>

<%= image_tag "beach_combing4.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
  ビーチコーミングの間はずっと海岸を歩き回ります。コンクリートとは違った歩き心地に驚くでしょう。また、砂浜は少し歩きにくいため、普通のウォーキングと比べて、良い運動になるでしょう。
</p>

<p>
  さらに、海岸を歩いていると次から次へと珍しいものが見つかるため、ついつい時間を忘れて歩き回ってしまうでしょう。そのため、自分が思っていたよりもたくさん歩くことができ、ダイエット効果も期待できます！きれいな海を眺めながら歩けば、疲労感を感じることもありません。
</p>

<div class="panel panel-default">
<h2>ストレス解消に！</h2>
</div>

<%= image_tag "beach_combing5.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
海岸を歩きながらきれいな海を眺めていると、自然とゆったりとした気分になるでしょう。波の音は人リラックスさせる効果があるため、リラクゼーションBGMとして販売されているほどです。
</p>

<p>
  そこまで考えなくとも、きれいな貝殻やシーグラスを拾うことに没頭すれば、日常のストレスも少しずつ消えていくでしょう。
</p>

<div class="panel panel-default">
<h2>一人でも、複数人でも楽しめる</h2>
</div>

<%= image_tag "beach_combing6.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
一人でゆっくりと海岸を歩いたり、自分のペースでビーチコーミングを楽しむこともできますが、友達や家族で楽しくおしゃべりしながらビーチコーミングを楽しむこともできます。
</p>

<p>
  友達や家族と拾った貝殻やシーグラスなどをコレクションにしたり、ハンドメイド作品として残しておけば、思い出を形にしておくこともできます。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>ビーチコーミングの始め方</h3>
</div>
</div>

<%= image_tag "beach_combing3.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
<div class="panel panel-default">
<h2>ビーチコーミングに必要なもの</h2>
</div>
</div>

<p>
ビーチコーミングの魅力の一つとして、たいして持ち物がいらないという点があります。
砂浜を歩きやすい服装と集めたものを入れるビニール袋などがあれば、それで十分です。
</p>

<p>
しかし、夏場にビーチコーミングに行く場合は注意が必要です。夏の砂浜はとても暑く、陽差しもとても強くなります。紫外線対策に帽子や日焼け止め、熱中症対策に飲み物を準備してきましょう。
</p>

<p>
また、どれだけ準備していても、靴の中に砂が入ってきてしまいます。運が悪いと靴下の中にも砂が入ってくることも…
</p>

<p>
  ですので、ビーチコーミングから家に帰る際は砂をよく払い落し、帰宅後も砂をきれいに落としましょう。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
 <h3>まとめ</h3>
</div>
</div>

 <%= image_tag "beach_combing1.jpg"  , :class => "img-responsive img-thumbnail" %>

    <p class="pic_bottom">
      どうでしたか？ビーチコーミングは必要な道具はほとんどなく、誰でも簡単に始めることができます！
        </p>

        <p>
          運動不足を感じている方やシーグラスや貝殻を使ってハンドメイド作品を作りたい方にお勧めです。もちろんただ興味がでてきた方でもOKです！
        </p>

        <p>
          性別や年齢に関係なく始めることができますので、お気軽にビーチコーミングを試してみてください。
        </p>
</div>
</div>
</div>
</div>
