<% provide(:title, "クラウドソーシング") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>クラウドソーシング</h1>
</div>
</div>

  <div class="panel panel-default">
    <h3>興味タイプ：ER</h3>
    <h3></h3>
  </div>

  <%= image_tag "crowdsourcing1.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
  <h3>
    クラウドソーシングとは？
  </h3>
</div>
</div>
</div>

<p>
いまではすっかり定着した感じのする言葉であるクラウドソーシング。  しかしその意味をしっかりと知っている人は少ないのでは？
</p>

<p>
  wikipediaによると、クラウドソーシングとは、
</p>

<p class="quote">
  クラウドソーシング（英語: crowdsourcing）とは、不特定多数の人の寄与を募り、必要とするサービス、アイデア、またはコンテンツを取得するプロセスである。このプロセスは多くの場合細分化された面倒な作業の遂行や、スタートアップ企業・チャリティの資金調達のために使われる。群衆（crowd）と業務委託（sourcing）を組み合わせた造語で、特定の人々に作業を委託するアウトソーシングと対比される。

クラウドソーシングは狭義では、不特定多数の人に業務を委託するという新しい雇用形態を指す。広義では、必ずしも雇用関係を必要とせず、不特定多数の人間により共同で進められるプロジェクト全般を指す場合もあり、その場合オープンストリートマップ（OSM）やreCAPTCHAなどが代表例として挙げられる。
  <%= link_to "出典：wikipedia", "https://ja.wikipedia.org/wiki/%E3%82%AF%E3%83%A9%E3%82%A6%E3%83%89%E3%82%BD%E3%83%BC%E3%82%B7%E3%83%B3%E3%82%B0" %>

</p>

<p>
  ということらしいですが、ちょっと意味が分からないと思います。
</p>

<p>
  それ以外にも、「ちょっとした時間でもお仕事ができるってホント！？」なんて声や「どれくらい儲かるの？」という疑問もたくさんありますよね。
</p>


<p>
  今回はそんなクラウドソーシングについてちょっと詳しくなってみませんか。
</p>


<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
クラウドソーシングのよいところ
</h3>
</div>
</div>

<div class="panel panel-default">
<h2>
手軽なお小遣い稼ぎになる！
</h2>
</div>

<%= image_tag "bicycle_race3.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<p class="quote">
ネットを使って不特定多数の人々に業務を外注するサービスです。実際に会ってミーティングをすることはなく、仕事の依頼も打ち合わせもすべてネット上で行い、業務を完了して報酬を受け取る…というのが一連の流れとなります。簡単に言うなら「ネットを使った在宅ワーク」ですが、Webサイト制作やアプリ開発をはじめとした、高いスキルが求められるプロジェクトも多く、フリーランスの方の中には、このクラウドソーシングだけで生計をたてているという人もいるでしょう。
  <%= link_to "出典：クラウドソーシングのメリット・デメリット", "https://www.webcreatorbox.com/webinfo/crowdsourcing" %>
  </p>

  <p>
このようにインターネットを使って仕事を受注したり、受注したりできるサービスのことをクラウドソーシングといいます。
  </p>

  <p>
    実際にクライアントに合う必要がないので、自宅から離れられない主婦の方などにおすすめできますね。
   </p>

   <p>
     中にはクラウドソーシングだけで生計をたてている人もいるらしいですが、いきなりそのレベルを目指すのはもしできなかった時のがっかり感がすごいので、まずはおこづかいレベルを目指すのが賢い人のやり方でしょう。
   </p>

   <p>
サイト管理者も少しだけクラウドソーシングで仕事を受注してみましたが、空き時間にサクッと仕事をこなすことができますし、ちょっとしたお昼代くらいにはなるので意外に簡単だなという気持ちになりました。
   </p>

   <div class="panel panel-default">
   <h2>
種類豊富な仕事内容
   </h2>
 </div>

 <%= image_tag "crowdsourcing2.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

  <p>
昔はクラウドソーシングといえば、ライターさんかエンジニアしかできない仕事というイメージが強かったのですが、現在では仕事の種類も増えてきており、様々な仕事を選ぶことができます。例えば、クラウドソーシングでできる仕事のほんの一部を紹介させていただくだけでも、
</p>

<p>
  <ul class="quote">
    <li>クラウドソーシングで依頼・受注できる仕事の種類</li>
    <li>システム開発系</li>
    <li>Webデザイン、ホームページ作成</li>
    <li>スマホアプリ開発</li>
    <li>メンバー募集</li>
    <li>デザイン（ロゴなど）</li>
    <li>ライティング</li>
    <li>ネーミング</li>
    <li>写真、画像、動画作成</li>
    <li>CG作成</li>
    <li>音楽作成</li>
    <li>翻訳通訳</li>
    <%= link_to "出典：クラウドソーシングの種類ってどんなのがあるの？", "https://itpropartners.com/blog/1542/" %>
</ul>
</p>

<p>
というように、けっこうたくさんの種類の仕事がありますし、文章力やエンジニアとしての技術がない人でもやっていけるような仕事もたくさんありますね。
</p>

  <p>
このように仕事の種類が豊富なこともクラウドソーシングの魅力の一つです。
  </p>

  <div class="panel panel-default">
  <h2>
いつでもどこでも仕事ができる！
  </h2>
  </div>

  <%= image_tag "crowdsourcing3.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

  <p>
クラウドソーシングの魅力の一つに仕事をする場所や時間を選ばないというものがあります。もちろん納期に間に合わせる必要がありますが、納期に間に合ってさえいれば自宅のベットの上で寝間着姿のままゴロゴロしながら仕事をしても別に問題はありません。
  </p>

  <p>
    そのほかにも子育てで忙しい方のでように毎日自宅から離れなれない人でも、ちょっとしたスキマ時間にささっと作業できるので、時間の有効活用になりますね。
  </p>

  <p>
また、平日は会社でも仕事をしている人でも、休日はクラウドソーシングで趣味を活かした仕事をしたりという自由度の高い働き方もできます。
  </p>

  <p>
クラウドソーシングをしている人によっては、旅行先の温泉旅館でささっと作業している人もいるくらいです。
  </p>

  <p>
このように時間や場所に縛られない働き方というのもクラウドソーシングの魅力的な一面の一つですね。
  </p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  クラウドソーシングの始め方
</h3>
</div>
</div>

<div class="pic_bottom">
<div class="panel panel-default">
<h2>
クラウドソーシングサイトに登録しよう
</h2>
</div>
</div>

<%= image_tag "crowdsourcing4.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<p>
ネット上にはたくさんのクラウドソーシングのサイトがあります。サイトによって、得意分野が違ったりしますので、扱っている分野を比べてみて、自分に合っているクラウドソーシングのサイトを見つけてみましょう。
</p>

  <p>
自分に合っていそうなクラウドソーシングのサイトを見つけたら、登録を行います。お金がかかわることなので嘘偽りなく登録をすることをお勧めします。自分の得意なことや好きなことを紹介文に書いておけば、仕事に採用される可能性が上がるかもしれません。
</p>

  <p>
    登録が完了したら、仕事の募集を見てみましょう。最初は仕事の応募の多さにびっくりすると思いますが、たくさんの応募の中から自分にできそうなものや自分に合った仕事内容のものがあったら是非応募してみてください。
</p>

<p>
見つけたお仕事に応募して、採用されたらお仕事スタートです。といっても納期までに間に合えばよいので、ベットの上でゴロゴロしながらお仕事を進めてもよいですし、家事の合間にささっとお仕事してもよいと思います。
</p>

<p>
依頼された納品物が完成しましたか？もし完成したら依頼者に納品しましょう。無事にOKがもらえたら報酬が支払われます。
</p>

<p>
言葉で説明すると、難しそうですが実際にやってみればそれほど大変ではないと思いますよ。
</p>

<div class="panel panel-default">
<h2>
やりたい仕事をアピールしよう
</h2>
</div>

<%= image_tag "crowdsourcing5.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<p>
依頼主が募集しているお仕事に募集するだけではなく、逆に自分からやりたいお仕事を募集することも可能です。例えば、「手相診断を一人１０００円でやります！」というように自分のやりたいお仕事を出品することができるのです。
</p>

<p>
占いやお悩み相談などのちょっと変わったお仕事はなかなか依頼主さんからは募集されませんが、自分で出品してしまえば、自分にマッチした仕事をやることができるんです。
</p>

 <div class="panel panel-default panel-info">
   <div class="panel-heading">
 <h3>
   まとめ
 </h3>
</div>
</div>

    <p class="pic_bottom">
      いかがでしたか？少しでもクラウドソーシングについて詳しくなることができたでしょうか？
    </p>

    <p>
今ではクラウドソーシングだけで生計を立てる人がいるくらいメジャーなものになったクラウドソーシング。もちろんいきなり生計が立てられるくらいお金を稼ぐことはできませんが、空いた時間にささっとできるのが良いところですね。
    </p>

    <p>
いきなり、難しい内容のお仕事を始めるのではなく、まずはアンケートや口コミのような簡単なお仕事から始めてみましょう。簡単にできますし、なによりけっこう楽しいですよ。
      </p>

    <p>
せっかく時間や場所に縛られるに仕事をすることができる世の中に生まれたのですから、物は試しにクラウドソーシングを始めてみませんか？
    </p>

</div>
</div>
</div>
</div>
