<% provide(:title, "競馬") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>競馬</h1>
</div>
</div>

  <div class="panel panel-default">
    <h3>興味タイプ：ECR</h3>
    <h3></h3>
  </div>

  <%= image_tag "horseracing1.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
  <h3>
    競馬とは？
  </h3>
</div>
</div>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/qDpq36kwEI8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
皆さんは競馬という言葉を聞くとどのようなイメージを持つでしょうか？テレビや本などの影響もあって、大抵の人はギャンブルのイメージを持つかもしれませんね。
</p>

<p>
  もちろん、お金を賭けて一攫千金を狙ってみるというのも楽しみ方の一つですが、競馬の楽しみ方はそれだけではありません。
</p>

<p>
  競馬は時々ニュースにもなる人気のある競技です。天皇杯という言葉を一度は聞いたことがあるという人も多いでしょう。
</p>

<p>
  また、競馬を楽しむのに必要なお金もそれほど多くなく、競馬にお金をかけるときに必要な 馬券が100円からでも購入できる手軽さも人気の理由の1つですね。
</p>

<p>
  また、競馬のレースは馬の能力だけでなく騎手の腕前やレース場の環境など様々な要素が絡み合って、最終的な着順が決定します。 その勝ち馬予想の奥深さを知ると、すっかり競馬にハマってしまうかもしれませんね。
</p>

<p>
  そんな競馬についてちょっと詳しくなって見ませんか？
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
競輪のよいところ
</h3>
</div>
</div>

<div class="panel panel-default">
<h2>
一攫千金の可能性も！？
</h2>
</div>

<%= image_tag "bicycle_race3.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<p>
  競馬の魅力はギャンブル以外にも様々ありますが、やっぱりギャンブルができるというのも魅力の一つです。
  </p>

  <p>
    競馬でギャンブルをするには、馬券というものを買う必要があります。 馬券とは、あなたのレースの結果予想が書かれたもので、もし予想が当たっていれば配当金が手に入るという仕組みです。
  </p>

  <p>
    馬券には、いくつか種類があり、JRAの場合は、単勝、複勝、枠連、馬連、馬単、ワイド、三連複、三連単、WINS5といった種類が発売されています。一攫千金を狙う賭け方もできますし、比較的当たりやすい賭け方もできます。
   </p>

   <p>
     三連単やWINS5などでは宝くじ並みの配当が出ることもあり、一獲千金もあり得るかもしれません！？
   </p>


   <div class="panel panel-default">
   <h2>
馬の可愛さと躍動感！
   </h2>
 </div>

 <%= image_tag "horseracing2.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

  <p>
皆さんは最近馬を見たことはあるでしょうか？小学生の頃に何度か見たけれど、その後見ることは殆どないのではないでしょうか？
</p>

<p>
  競馬場では、鍛え上げられた競走馬をたくさん見ることができます。競走馬は大人の人から見ても意外と大きく迫力があります。しかし、馬は人を乗せて走る生き物のため、人にとても慣れており、結構可愛い生き物なんです。
</p>

<p>
そんな可愛い馬がいざレースが始まると、凄まじい速度で走っていくのを見ると、とてもワクワクしますね。
</p>

  <p>
    馬の可愛さと力強さを楽しめるというのも、競馬の魅力の一つですね。
  </p>

  <div class="panel panel-default">
  <h2>
デートスポットにもなる！？
  </h2>
  </div>

  <%= image_tag "horseracing3.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

  <p>
最近の競馬場はデートスポットとしても使われているというのを知っていましたか？
  </p>

  <p>
    最近の競馬場は清掃が行き届いており、レース場もきれいに整えられた芝生で覆われています。また、競馬場は広々としており、さっぱりとした気分にさせてくれます。
  </p>

  <p>
    また、かわいい馬を見ることができますし、馬の走るスポードを体験できたりと色々と思い出になるイベントが多いんです。
  </p>

  <p>
    入場料も安いため、気軽に立ち寄ることができるのも魅力の一つですね。
  </p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  競馬の始め方
</h3>
</div>
</div>

<div class="pic_bottom">
<div class="panel panel-default">
<h2>
競馬場に行ってみよう！
</h2>
</div>
</div>

<%= image_tag "horseracing4.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<p>
  競馬の魅力を知ることができましたか？それでは、競馬場に行ってみましょう。人工の多い地域にはたいてい競馬場はありますので、インターネットやアプリなどで調べてから行ってみましょう。
</p>

  <p>
    ところで日本には大きく分けて競馬を施行している団体が2つあることを知っていますか？ 1つが農林水産省が管轄している日本中央競馬会（JRA）で、もう1つが地方競馬全国協会です。 有名な有馬記念やダービーなどはJRAで行われています。
</p>

  <p>
    日本中央競馬場と言っても、東京でしか競馬を行っているわけではないので、近くの競馬場がJRAの競馬場なのかそれとも地方競馬全国協会の競馬場なのか調べて見るもの良いかもしれませんね。
</p>

<div class="panel panel-default">
<h2>
競馬の情報を手に入れよう！
</h2>
</div>

<div class="youtube_container">
<iframe width="560" height="315" src="https://www.youtube.com/embed/yFCgyzoveuA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
  もうすぐ開催されるレースの内容を確認するには競馬新聞が必要です。競馬新聞はコンビニ、駅の売店、ネットでのダウンロード販売などで購入できます。
</p>

<p>
  スポーツ紙でも競馬新聞と同じ内容のものを確認できますが、スポーツ紙の場合は開催当日にレース情報が掲載されますので前日に確認ができません。
</p>

<p>
  その他にも、前日に夕刊タブロイド紙などで予想欄が掲載されています。
</p>

<p>
レースの内容をしっかりと確認したいのであれば、割とどこでも手に入るので競馬新聞を買っておけばよいでしょう。
</p>

<div class="panel panel-default">
<h2>
馬券の買い方
</h2>
</div>

<p>
  ちょっとでも、競馬に興味が出てきたら、馬券を買ってみましょう。馬券を購入したい場合は、競馬の開催日に競馬場やウインズ（JRAの馬券が購入できる場外馬券売り場）に行けば馬券の購入ができます。
</p>

<p>
  また、開催が行われていない競馬場がウインズと同じ機能になっていますので、あなたが住んでいない地域の馬券も買うことができます。
</p>

<p>
  例えば京都競馬場で開催されていて阪神競馬場で開催されていない場合でも、阪神競馬場に行けば京都競馬場のレースの馬券を購入することができます。
</p>

<p>
  さらにJRAのネット会員になればパソコン、携帯、スマートホンからでも馬券を購入することができます。 詳しくは JRAのホームページ を見てみてくださいね。
</p>

 <div class="panel panel-default panel-info">
   <div class="panel-heading">
 <h3>
   まとめ
 </h3>
</div>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/fT-aP4BI_1Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

    <p class="pic_bottom">
どうでしたか？少しでも競馬について詳しくなることができたでしょうか？
    </p>

    <p>
      競馬はたいてい週末に行われていますので、平日は忙しい人にもう勧めできる趣味です。
      また、競馬を趣味にすると、週末に早起きして競馬場に行くようになるので、規則正しい生活ができるようになりますし、好きな馬や競馬選手の馬券を買うのが楽しみになります。
    </p>

    <p>
      有名なレースの時期になると競馬場内で、ファンの会話も弾みますので、興味があれば一度馬券を購入してみるのも良いでしょう。
      </p>

    <p>
      ギャンブルとして競馬を楽しんでみても良いですが、お金を賭けずとも、レースを見ているだけでも十分楽しめるので、一度競馬場に足を運んでみてはいかがでしょうか？
    </p>

<p>

</p>

</div>
</div>
</div>
</div>
