<% provide(:title, "ジグソーパズル") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>ジグソーパズル</h1>
</div>
</div>

  <div class="panel panel-default">
    <h3>興味タイプ：IA</h3>
  </div>

  <%= image_tag "jigsaw_puzzle1.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
  <h3>
    ジグソーパズルとは？
  </h3>
</div>
</div>
</div>

<p>誰でも一度はやったことのあるパズルといえば「ジグソーパズル」でしょう。</p>

<p>
  たくさんのパーツを組み合わせていき、一枚の絵を完成させていく「ジグソーパズル」は
  数あるパズルの中でも定番といえるでしょう。案外本屋さんや百円ショップとかに置いてありますよね。
</p>

<p>
小さいときにはやっていたけれど、大人になってからはやっていないという人も多いでしょう。しかし、大人になってから取り組むジグソーパズルは、脳のトレーニングになりますよ！
</p>

<p>
  また、完成したジグソーパズルを飾っておけば、インテリアにもなります。そんなジグソーパズルを詳しくなってみませんか？
</p>

  <div class="panel panel-default">
  <h2>
    ジグソーパズルってなにをするの？
  </h2>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/WjCL6DgqGN0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
  ジグソーパズルはたくさんのパーツを組み合わせていき、一枚の絵を完成させていくというゲームです。
</p>

<p>
  パズルのピースやパズルの絵柄によって、難易度を変えることができます。何万ピースものパーツを組み合わせて作るパズルもあれば、１００パーツほどで完成する簡単なパズルもあります。パズルの絵柄も簡単なものから、パズル全体が真っ白な高難易度のパズルもあります。
</p>

<p>
  このようにジグソーパズルは高難易度パズルから簡単なパズルまで様々な難易度があり、大人から子供まで楽しむことができるでしょう！
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  ジグソーパズルの良いところ
</h3>
</div>
</div>

<%= image_tag "jigsaw_puzzle2.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
<div class="panel panel-default">
<h2>
脳の活性化に効果大！
</h2>
</div>
</div>

<p>
  ジグソーパズルのパーツの形や絵柄に気をつけながら、当てはまりそうな所にピースをはめていくと脳が目覚める感じはしませんか？
</p>

<p>
  人間の脳は目と手を同時に使うような運動をすると、一気に元気になる性質があるんです！
</p>

<p>
  パーツを見極めるという目の機能とパーツを当てはめていくという手の運動を同時に行うことができるジグソーパズルは脳の衰え防止に最適です。
</p>

<div class="panel panel-default">
<h2>
集中力と忍耐力を鍛えることができる！
</h2>
</div>

<%= image_tag "jigsaw_puzzle3.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
  簡単なジグソーパズルならすぐに完成しますが、高難易度のジグソーパズルとなると簡単には完成しません。
</p>

<p>
  毎日ちょっとずつピースをはめていき、ジグソーパズルを完成させる必要があるため、集中力と忍耐力を鍛えることができます。
</p>

<p>
  ほかの集中力を鍛えることができる趣味と違って、自宅で簡単に行うことができるため、どんな人にもおススメできますね。
</p>

<div class="panel panel-default">
<h2>
  完成したジグソーパズルをインテリアに！
</h2>
</div>

<%= image_tag "jigsaw_puzzle4.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
  ジグソーパズルの絵柄はかわいい動物から風景画までたくさん種類があります。美術館で飾られているようなおしゃれな絵もジグソーパズルとして売られているんです。
</p>

<p>
  美術館で飾られているようなおしゃれな絵をそのまま購入するとなると、とてもお金がかかりますが、ジグソーパズルなら安価な値段で手に入れることができます。
</p>

<p>
  あなたの好みやその時の気分に合わせて、好きな絵柄のジグソーパズルを作ることできますし、完成したジグソーパズルをインテリアとして飾れば、完成したジグソーパズルですら楽しむことができます。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  ジグソーパズルの始め方
</h3>
</div>
</div>

<div class="panel panel-default">
<h2>
どこにジグソーパズルは手に入るの？
</h2>
</div>

<%= image_tag "jigsaw_puzzle5.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
ジグソーパズルはホビーショップでおもに売られているでしょう。書店などにも置いてあることもありますね。
</p>

<p>
  もちろんインターネットでもたくさん売られているのでそちらから購入することもできますね。
</p>

<p>
  しかし、いきなりジグソーパズルを買ってみるのもよいですが、インターネットで無料で楽しむことができるジグソーパズルがたくさんあるので、そちらをやってみることもおすすめします。
</p>

<div class="panel panel-default">
<h2>
  ジグソーパズルを飾ろう！
</h2>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/zHRxhHjBcDU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
  ジグソーパズルを完成させたら、インテリアとして飾っておきたいですよね？
</p>

<p>
  しかし、ジグソーパズルはすぐにバラバラになりやすいため、バラバラになることを防止するために、ジグソーパズルを糊付けしておきましょう。
</p>

<p>
  糊付けしておけば、ピースがバラバラになることもなくなりますし、パズルの表面が美しい光沢を持つようになるので、インテリアとしてもよい感じになります。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  まとめ
</h3>
</div>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/WAZlcK7FUic" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p class="pic_bottom">
  大人から子供まで楽しめるジグソーパズル。
</p>

<p>
  最近では、インターネットで無料でジグソーパズルを楽しめますし、実物のジグソーパズルを購入すれば、完成した時にインテリアとして楽しむこともできます。
</p>

<p>
  ルールは簡単で単純ですが、高難易度のものになると、一気に難しくなるジグソーパズル。
</p>

<p>
  ぜひ、一度やってみてください。
</p>

  </div>
  </div>
  </div>
  </div>
