<div class="hobby_page">

  <h1>オセロ</h1>

  <h2>
    興味タイプ
  </h2>
  <h3>I</h3>

  <%= image_tag("othello1.jpg") %>
  <%= image_tag("othello2.jpg") %>
  <%= image_tag("othello3.jpg") %>

  <h2>オセロとは？</h2>

  <p>
    誰もが一度は目にしたことがあるオセロは日本生まれのボードゲームです。

    日本オセロ連盟元会長である長谷川五郎によって作られたオセロは始めは病院で患者のリハビリ用のゲームとして広まっていきましたが、ルールが覚えやすく、すぐにゲームを楽しめることから、日本のみならず、世界中に広まっていきました。

    現在では全国で大会が開催され、日本だけでなく世界大会も行われています。
  </p>

  <p>
オセロのよいところ
</p>

  <p>
    シンプルなのに奥の深いゲーム
</p>

  <p>
    オセロは、白黒の石を交互に置いて、相手の石を挟んで自分の石の色に替える、そして最後に石の色が多い方が勝ちという簡単なボードゲームです。

     しかし、人工知能ですら読み切れないほどにゲーム展開は無数にあり、プレーヤーのレベルによってどんどんゲーム展開が高度になるので、奥が深く飽きの来ないゲームと言えるでしょう。
   </p>

  <p>
誰でも一度はやったことがある始めやすいゲーム
</p>

<%= image_tag("aquarium_visiting2.jpg") %>

  <p>
    オセロをやったことのない日本人はいないのではないでしょうか？

    ルールがシンプルであり価格も安いので、学校や旅先で見かけて遊んだことがあるという方が多いのではないでしょうか？

     また，初めての人であっても数分あればルールを覚えられますので、誰とでもすぐに遊べるます
     。
     こういうところから、オセロは初心者でも始めやすいボードゲームと言えますね。  </p>

  <p>
日本では圧倒的人気のボードゲーム、それがオセロ！
</p>

<p>
  日本人になじみ深いボードゲームといえば、将棋や囲碁でしょうか？

   どちらもオセロと比べてゲームの歴史は長いのですが、ゲーム人口となると、将棋が1000万人、囲碁が1500万人ほどなのに対し、オセロはなんと6000万人という圧倒的に多いゲーム人口なのです。

  また、子供のための大会や、上級者同士の大会など様々な大会が各地で開催され、年に一度世界大会も行われています。
</p>


  <p>
オセロの始め方
</p>

  <p>
必要な道具は？
</p>

  <p>
    オセロの最大の魅力の一つとして、安く簡単に始められるというものがあります。
    ゲームボードのオセロも1,500円前後と求めやすい価格ですし、パソコンやスマートフォンがあれば、いくらでもオセロのアプリや無料ゲームを見つけられるので、すぐに始められます。
 </p>

  <p>
    一人でオセロはできる？
</p>

  <p>
    オセロは対戦型のボードゲームなので、対戦相手が見つけられないと出来ないのでは、と考える人も多いでしょう。

     しかし、今ではパソコンやスマートフォンで、簡単にネット対戦出来ますし、パソコンやスマートフォンのアプリなどを使えば、人工知能が対戦相手となってくれるので、一人でも簡単にプレイできます。
 </p>

 <p>
   オセロを極めたい！
 </p>

 <p>
   オセロにも将棋や碁と同じように段位や級位があるのをご存知ですか？

   これは日本オセロ連盟が段位を認定できる大会に参加して条件を満たすことで、初段から10段までの段位と、7級から1級までの級位を得ることが出来ます。

   オセロの腕前をしっかりと示すことができるのもオセロの魅力の一つと言えるでしょう。
 </p>

    <p>
      まとめ
    </p>
    <%= image_tag("aquarium_visiting3.jpg") %>

    <p>
      オセロは『覚えるのに一分、極めるのに一生』と言われるように、簡単にルールを覚えられるのに、戦略は無数にある奥の深いゲームです。

      また、一人でも楽しめますし、家族や友達と一緒に楽しむことが出来ます。

      また、ただ遊ぶだけでなく、実力をつけて大会にチャレンジするという目的を持ってみるのも良いかもしれませんね。

      お手軽に始められるのに、多彩な楽しみ方のできるオセロを、あなたも始めてみませんか？    </p>
</div>
