<% provide(:title, "株式投資") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>株式投資</h1>
</div>
</div>

  <div class="panel panel-default">
    <h3>興味タイプ：IEC</h3>
    <h3></h3>
  </div>

  <%= image_tag "stock_investment1.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
  <h3>
  株式投資とは？
  </h3>
</div>
</div>
</div>

<p>
  テレビやインターネットのニュースを見れば、必ずと言ってもいいほど「株価の上昇・下落」という言葉が出てきます。 よく証券会社の前で「資産が増えた、減った」と、インタビューされている人の姿とセットで見ますね。
</p>

<p>
  しかし、「株価の上下で資産が増えたり、減ったりする」とはどういうことなのか、皆さんは知っていますか？ お給料以外でお金を増やすということは、ギャンブルのようなもの？
</p>

<p>
  いいえ、株式投資はギャンブルではないんです。 勉強してみたら、株価が上がったり下がったりする理由も分かってきます。
</p>

<p>
  現代社会では、株式は経済だけでなく、政治や社会などの様々な部分に影響を与えています。
よって、株式の仕組みや株式投資に詳しくなることは、政治や社会について詳しくなることと同義なのです。
</p>

<p>
  そんな株式投資について少し詳しくなってみませんか？</p>
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
株式投資の概要
</h3>
</div>
</div>

<p>
株式投資とは、株式を売ったり買ったりすることで資産を増やしていく投資方法です。
</p>

<p>
  銀行や証券会社などの金融機関が行っているものというイメージが強いと思いますが、個人でも株式投資を行って資産を増やしている人はたくさんいるんですよ。
</p>

<p>
  もちろん、誰でも簡単に資産を増やしていけるというわけではないので、まずは少しずつ挑戦して行きましょう。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
株式投資のよいところ
</h3>
</div>
</div>

<div class="panel panel-default">
<h2>
株式投資で資産作りのお手伝い
</h2>
</div>

<%= image_tag "bicycle_race3.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>


  <p>
仕事してお給料をもらうだけでは物足りない、もっと資産を増やしてみたい、でもギャンブルはちょっと…という方は多いと思います。
  </p>

  <p>
    そんな方にこそ、株式投資はおすすめです。 自分が投資した企業の株価が上がるのを毎日チェックできたら、嬉しいですよね。
   </p>

   <p>
     また、お金に余裕がある方にも、株式投資はおすすめです。資産を現金以外の形にしておくことで、インフレやその他のリスクの分散にもなります。
   </p>

   <p>
ほかにも、仕事などで時間が足りないという人にも、おすすめです。株式投資は自分が特に働かなくても、投資したお金が配当金などを稼いでくれるため、うまく投資をすれば、ちょっとした贅沢ができるくらいのお金を稼いでくれますよ。
   </p>

   <div class="panel panel-default">
   <h2>
より身につきやすい政治経済の勉強にも！
   </h2>
 </div>

 <%= image_tag "stock_investment2.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

  <p>
株価が下がっただの上がっただのというニュースを一度は聞いたことがあるのではないでしょうか？株価は日々の政治や経済の動向で変動するんです！。
例えば、ある国で政権が代わった、この業界が今後流行りそうだ、〇社が新商品を発表、といったことも株価に反映するんですね。
</p>

<p>
  ただ何となく見ていたニュースも、株式投資を通すと意味があるものに見えてきます。そして人間は意味があることは比較的覚えていられるものです。
  株式投資をしなくとも、株式投資の勉強をしておくだけで社会の動きに敏感になることができますよ。
</p>

  <div class="panel panel-default">
  <h2>
「株主優待」もお楽しみもゲットしよう！
  </h2>
  </div>

  <%= image_tag "crowdsourcing3.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

  <p>
食品会社やアミューズメント企業などがよく行っているのですが、投資をしてくれた人たちに「株主優待」というプレゼントを行なっている企業もあります。
  </p>

  <p>
    飲食チェーンの割引サービスや自社商品の提供、アミューズメント施設の入場券など、自社サービスや商品をもっと知ってもらうことを目的に、色々とお得なクーポンをくれるんですね。
  </p>

  <p>
    よく利用する企業があれば、目先の株価の変動だけではなく、株主優待の内容もチェックして投資してみるのもいいかもしれませんね。
  </p>

  <p>
    そうではない場合でも、送られてきた株式優待券自体をチケットやさんに売りに出している人もいますので、普段行かないお店でも有益に使うことができますね。
  </p>

  <div class="panel panel-default">
  <h2>
「配当金」ももらえるぞ！
  </h2>
  </div>

  <%= image_tag "game_production7.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>


<p>
株式を上場している企業は、企業の業績に応じて、「配当金」というものを投資家に還元しています。
</p>

<p>
  配当金の金額は企業によって大きく変化するので、一概にいくら位もらえるのかというのは言えませんが、
</p>

<p>
  低金利の今、配当金をもらったほうが銀行の利息よりも高い場合があるので、売買目的でなく配当目的で株式投資をしている方も多いそうですよ。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
株式投資のはじめかた
</h3>
</div>
</div>

<div class="pic_bottom">
<div class="panel panel-default">
<h2>
証券会社に登録しよう
</h2>
</div>
</div>

<%= image_tag "crowdsourcing4.jpg", size:"460x410", :class => "img-responsive img-thumbnail" %>

<p>
  株式は証券会社を通じて購入します。
</p>

  <p>
    現在では、インターネット証券会社が主流でして、多くの個人投資家はインターネット証券会社の口座を作ることで株式投資を行っています。
</p>

  <p>
    お店を持っている証券会社と比べて、インターネット証券のほうが、売買するときにかかる手数料が低めになっています。
</p>

<p>
  また、多くの証券会社が個人投資家向けに株式投資のレクチャーを無料でしてくれるところがありますので、インターネット証券がおすすめです。
</p>

<div class="panel panel-default">
<h2>
株式の勉強をしてみよう！
</h2>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/iQrBHpYYMvA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
株式の勉強をする方法はたくさんあります。
</p>

<p>
  一番手軽なのは、新聞・インターネットの経済ニュースを読むことやテレビを見ることでしょう。
</p>

<p>
  新聞やインターネットには株価や経済ニュースが毎日掲載されていますし、テレビでも経済の動きを報道しています。
</p>

<p>
  株式投資の初心者であれば、まずはニュースを毎日読むことを習慣づけると良いと思います。
</p>

<p>
  もっと詳しく勉強したい方には、専門書を手に入れましょう。専門書を読み解くのは、なかなか難しいですが、身につける知識は計り知れないものです。
</p>

<p>
  また、先程説明しましたように、証券会社では「投資セミナー」を開催していますので、専門家の話を聞きたい人にはお勧めです。
</p>

 <div class="panel panel-default panel-info">
   <div class="panel-heading">
 <h3>
   まとめ
 </h3>
</div>
</div>



    <p class="pic_bottom">
      いかがでしたか？株式投資について詳しくなることができたでしょうか？
    </p>

    <p>
      株式投資と聞くと、お金持ちやすごい人達が行っているものというイメージがありますが、最近では、普通のサラリーマンでも株式投資を行っている人も多いんですよ。
    </p>

  <p>
    もちろん、株式投資をすれば、誰でも簡単に儲けることができるというわけではありません。
  </p>

  <p>
    しかし、株式投資の知識を身に着けておけば、人生のあらゆる部分で役に立つ知識を手に入れることができますよ。
  </p>

    <p>
      実際に株式投資を始めてみると、株式の売買で利益を得るだけでなく、株主優待や配当金といった楽しみ方もある株式投資。
    </p>

    <p>
      政治経済の勉強も必要になるので、賢くなれるのもいいですね。
    </p>

    <p>
      そんな株式投資をぜひ始めてみませんか？
    </p>

</div>
</div>
</div>
</div>
