<% provide(:title, "人狼ゲーム") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-12">
  <div class="panel panel-default">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
  <h1>人狼ゲーム</h1>
</div>
</div>

  <div class="panel panel-default">
    <h3>興味タイプ：IES</h3>
  </div>

  <%= image_tag "werewolf1.jpg" , :class => "img-responsive img-thumbnail" %>

<div class="pic_bottom">
  <div class="panel panel-default panel-info">
    <div class="panel-heading">
  <h3>
    人狼ゲームとは？
  </h3>
</div>
</div>
</div>

<p>
アナログゲームは世の中にたくさんありますが、その中でも結構最近誕生したゲームが人狼ゲームです。  最近誕生した割に、アナログゲームの中でも人気があり、テレビ番組にもなっています。
</p>

<p>
  人狼ゲームはたくさんの人と同時に遊べるため、友達を大勢集めて遊ぶのに向いています。
  ルールも簡単ですし、ドキドキハラハラする展開もあってとても楽しいゲームです。
</p>

<p>
そんな人狼ゲームをちょっと詳しくなってみませんか？
</p>

  <div class="panel panel-default">
  <h2>
      人狼ゲームってなにをするの？
  </h2>
</div>

<%= image_tag "werewolf3.png" , :class => "img-responsive img-thumbnail" %>

<p>
人狼ゲームは最低五人以上人数が必要です。まずは司会役を１人立てましょう。司会役がいないと円滑にゲームが進まないことが良くあります。残りの人から１人以上の人狼役を選びます。参加者が多ければ人狼の数を増やす必要がありますが、市民役の人数よりも少なくしたほうがよいです。
 それ以外の人は市民役となってゲームを戦います。
</p>

<p>
市民役はだれが人狼役なのかわかりません。 お互いの話の内容や表情、声のトーンで推理していき、人狼を見つけて見つけていきましょう。
一方人狼役の人は自分の正体がバレないように、うまく話の内容や表情、声のトーンを変えていきましょう。人狼側には、「夜」というターンがあり、そのターンに市民をひとり「食べる」ことができます。
</p>

<p>
市民側は誰が人狼なのかわかったら、その人を「追放」することができます。そうやってすべての人狼を追放することができれば市民側の勝利です。
</p>

<p>
一方人狼側はうまく市民のふりを続けながらほかの市民を人狼であると勘違いさせて追放させたり、夜に市民を食べることで市民の人数を自分たちと同じ人数になるまで減らすことができれば、人狼側の勝利となります。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
    人狼ゲームの良いところ
</h3>
</div>
</div>

<div class="pic_bottom">
<div class="panel panel-default">
<h2>
熱い心理戦！
</h2>
</div>
</div>

<%= image_tag "werewolf2.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
人狼ゲームが有名になった要因は何といっても熱い心理戦でしょう！
</p>

<p>
  誰が人狼かわからない中、市民側は会話を駆使して、誰が人狼か探し出します。当然人狼側は市民のふりをするために嘘をついて市民の信用を得ようとしたり、別の市民を人狼であるかのように見せかけようとしてきます。
</p>

<p>
中には、市民側なのに人狼だと思われてしまうことも！？
</p>

<p>
このように、複雑で高度な心理戦が楽しめるのが人狼ゲームの魅力のひとつでしょう。
</p>

<div class="panel panel-default">
<h2>
手軽に始められる！
</h2>
</div>

<%= image_tag "shogi2.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
人狼ゲームに必要な道具はプレイヤーが市民側か人狼側か決めるカードセットのみです。そのため、人数さえ集まれば、いつでもどこでも人狼ゲームを始められます。
</p>

<p>
そのため、イベントやパーティーなどのちょっとした企画としても楽しめるでしょう。
会話が中心となるゲームのため、多くの人と会話をすることができるのも魅力の一つですね。
</p>

<p>
ゲームのルールもそれほど難しくないため、初心者の人も上級者の人も一緒になって楽しめます。
</p>

<div class="panel panel-default">
<h2>
よりエキサイティングな追加ルール！
</h2>
</div>

<%= image_tag "werewolf4.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
人狼ゲームはとてもシンプルなゲームですが、市民や人狼以外にもほかの役職を追加することができます。
</p>

<p>
  例えば、「占い師」はほかのプレイヤーが市民か人狼かを見分けることができます。
  そのため、人狼側は占い師を真っ先に食べようとしたり、占い師の言葉の信用を失わせるため、人狼側は占い師のふりをしたりするようになります。
  市民側は占い師と偽占い師のどちらを信用するべきなのか悩むようになります。
</p>

<p>
  このように、ほかの役職がゲームに追加されることでより人狼ゲームが面白く戦略が必要になりますね。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  人狼ゲームの始め方
</h3>
</div>
</div>

<div class="panel panel-default">
<h2>
人狼ゲームに必要な道具はなに？
</h2>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/ToyvHFVXB8Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p>
人狼ゲームに必要なものはカードセットです。 これには、市民・役職付きの市民・人狼と言った、それぞれの役割が書かれています。 商品によっては、司会役となる人がどんなことをするかも書いてありますので、初めての人が多いゲームでは必須と言えるでしょう。
</p>

<div class="panel panel-default">
<h2>
対戦相手を見つけよう
</h2>
</div>

<%= image_tag "werewolf5.jpg" , :class => "img-responsive img-thumbnail" %>

<p>
人狼ゲームはある程度人数が必要なゲームです。友達や知り合いを集めて人狼ゲームをやってみるのもよいですが、人狼ゲームが遊べるお店に行ってみるのもいいでしょう。
</p>

<p>
  東京都渋谷・秋葉原にある「ドイツゲームスペース」というお店では、一人でも気軽にゲームへの参加ができます。
</p>

<p>
  東京都渋谷・愛知県名古屋・大阪にお店を構える「人狼HOUSE」は予約なしでも遊びに行けます。
  オリジナルの役職もあるということですから、白熱したゲームが期待できそうですね。
</p>

<p>
  人狼ゲームを1人からでも楽しめるスマホアプリも登場しています。コンピュータが対戦相手になってくれますので、人見知りの人でも安心ですし、自分の腕前に合わせてコンピュータが合わせてくれます。
</p>

<p>
  オンラインならば、直接会えないような距離の人たちとも人狼ゲームをすることができます。大抵無料で遊べますし、直接友達を集めるよりもはるかに多くの人と人狼ゲームを遊ぶことができます。
</p>

<p>
  またこうしたアプリを使えば、カードセットがなくても手軽に人狼ゲームを遊ぶことができます。 とりあえず、雰囲気を楽しんでみたい！という人にはピッタリです。
</p>

<div class="panel panel-default panel-info">
  <div class="panel-heading">
<h3>
  まとめ
</h3>
</div>
</div>

<div class="youtube_container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/F7yQNwElur4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<p class="pic_bottom">
いかがでしたか。人狼ゲームについて少しでも少しでも詳しくなることができたでしょうか？
</p>

<p>
  人狼ゲームは、他のプレイヤーとのコミュニケーションがゲームの要となるため、ゲームごとに全く異なる展開が楽しめます。毎回新鮮な気持ちでゲームを楽しめるのはうれしいですね。
</p>

<p>
  誰でも楽しめますし、大勢で楽しめるのも良い点ですね。
</p>

<p>
  スマホのアプリを使えば、無料で一人でも遊ぶことができますし、オンラインサロンを使えば、遠くの人たちとも人狼ゲームを楽しむことができます。
</p>

<p>
  人狼ゲームの魅力であるドキドキワクワク感を一度味わたら、病みつきになりますよ！
</p>

<p>
  こんな人狼ゲームをぜひ一度試してみてはいかがでしょうか？
</p>

  </div>
  </div>
  </div>
  </div>
