<% provide(:title, "アウトドアの趣味一覧") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">

<div class="panel panel-default">
  <div class="panel-body">

<h3>アウトドアの趣味一覧</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<p>
  緑の自然に囲まれていると、さっぱりとした気持ちになりますよね。
</p>

<p>
  魚釣りやキャンプなどアウトドアには様々な楽しみ方があります。
</p>

<p>
  そんな多種多様な楽しみ方があるアウトドアの趣味一覧です。
</p>

    <ul class="nav navbar-nav">
      <li class="sports_background">
        <%= link_to hobby_pages_sea_fishing_path  do %>
        <%= image_tag "sea_fishing1.jpg", size: "219x185" %>
      <p class="titl">
        海釣り
      </p>
      <p class="titl">
        R
      </p>
      </li>
<% end %>

      <li class="sports_background">
        <%= link_to hobby_pages_astronomy_path  do %>
        <%= image_tag "astronomy2.jpg", size: "219x185" %>
      <p class="titl">
        天体観測
      </p>
      <p class="titl">
        IAR
      </p>
      </li>
<% end %>

      <li class="sports_background">
        <%= link_to hobby_pages_road_bike_path  do %>
        <%= image_tag "road_bike1.jpg", size: "219x185" %>
      <p class="titl">
        ロードバイク
      </p>
      <p class="titl">
        RE
      </p>
      </li>
<% end %>

      <li class="sports_background">
        <%= link_to hobby_pages_beach_combing_path  do %>
        <%= image_tag "beach_combing2.jpg", size: "219x185" %>
      <p class="titl">
        ビーチコーミング
      </p>
      <p class="titl">
        CR
      </p>
      </li>
<% end %>

    </ul>
</div>
</div>

</div>
</div>
</div>
