<div class="row">
<div class="col-md-6 col-md-offset-3">
<table class="table">
<tr>
<td>
<h2>あなたの興味がある分野は</h2>
<h2>
<%= @value_add1[:first] %>
<%= @value_add2[:second] %>
<%= @value_add3[:third] %>
</h2>
<h2>です</h2>
</td>
</tr>
</table>
</div>
</div>

<p>こちらは具体的なあなたが興味を持っている分野です。</p>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<table class="table">

<tr>
<td>R</td>
<td><%= @value[:R] %></td>
</tr>

<tr>
<td>I</td>
<td><%= @value[:I] %></td>
</tr>

<tr>
<td>A</td>
<td><%= @value[:A] %></td>
</tr>

<tr>
<td>S</td>
<td><%=  @value[:S]  %></td>
</tr>

<tr>
<td>E</td>
<td><%=  @value[:E]  %></td>
</tr>

<tr>
<td>C</td>
<td><%=  @value[:C]  %></td>
</tr>

</table>
</div>
</div>

<%= render 'layouts/personality_list' %>
