<% provide(:title, "結果発表") %>
<div class="container">

<div class="panel panel-default">
  <div class="panel-body">

<div class="row">

<div class="col-md-6 col-md-offset-3">

<tr>
<td>
<h2>あなたの興味がある分野は</h2>
<h2>
<p>１番目が<%= @value_add1[:first] %>です</p>
<p>２番目が<%= @value_add2[:second] %>です</p>
<p>３番目が<%= @value_add3[:third] %>です</p>
</h2>
<h2>です</h2>
</td>
</tr>

</div>

</div>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<p>こちらは具体的なあなたが興味を持っている分野です。</p>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<table class="table">

<tr>
<td>現実的興味（Rタイプ）</td>
<td><%= @value[:現実的興味（Rタイプ）] %></td>
</tr>

<tr>
<td>研究的興味（Iタイプ）</td>
<td><%= @value[:研究的興味（Iタイプ）] %></td>
</tr>

<tr>
<td>芸術的興味（Aタイプ）</td>
<td><%= @value[:芸術的興味（Aタイプ）] %></td>
</tr>

<tr>
<td>社会的興味（Sタイプ）</td>
<td><%=  @value[:社会的興味（Sタイプ）]  %></td>
</tr>

<tr>
<td>企業的興味（Eタイプ）</td>
<td><%=  @value[:企業的興味（Eタイプ）]  %></td>
</tr>

<tr>
<td>慣習的興味（Cタイプ）</td>
<td><%=  @value[:慣習的興味（Cタイプ）]  %></td>
</tr>

</table>
</div>
</div>

</div>
</div>

  <%= render 'layouts/personality_list' %>

</div>
