<% provide(:title, "ISR") %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-body">

<h3> あなたの興味タイプは</h3>
<h3 class="riasec_page">ISR</h3>
<h3> です</h3>

</div>
</div>

<div class="panel panel-default">
  <div class="panel-body">

<h2>こちらにあなたにおすすめの趣味をまとめてありますので、ご覧ください！</h2>

      <ul class="nav navbar-nav">

        <li class="sports_background">
          <%= link_to hobby_pages_aquarium_visiting_path  do %>
          <%= image_tag "aquarium_visiting1.jpg", size: "219x185" %>
        <p class="titl">
          水族館めぐり
        </p>
        <p class="titl">
          RI
        </p>
        <p class="titl">
          ！ベストマッチ！
        </p>
        </li>
        <% end %>

        <li class="sports_background">
          <%= link_to hobby_pages_astronomy_path  do %>
          <%= image_tag "astronomy2.jpg", size: "219x185" %>
        <p class="titl">
          天体観測
        </p>
        <p class="titl">
          IAR
        </p>
        <p class="titl">
          ！ベストマッチ！
        </p>
        </li>
        <% end %>

        <li class="sports_background">
          <%= link_to hobby_pages_game_production_path  do %>
          <%= image_tag "game_production1.jpg", size: "219x185" %>
        <p class="titl">
          ゲーム制作
        </p>
        <p class="titl">
          IAR
        </p>
        <p class="titl">
          ！ベストマッチ！
        </p>
        </li>
        <% end %>

    <li class="sports_background">
      <%= link_to hobby_pages_othello_path  do %>
      <%= image_tag "othello2.jpg", size: "219x185" %>
    <p class="titl">
      オセロ
    </p>
    <p class="titl">
      I
    </p>
    <p class="titl">
      ！グッドマッチ！
    </p>
    </li>
    <% end %>

    <li class="sports_background">
      <%= link_to hobby_pages_meditation_path  do %>
      <%= image_tag "meditation3.jpg", size: "219x185" %>
    <p class="titl">
      瞑想
    </p>
    <p class="titl">
      I
    </p>
    <p class="titl">
      ！グッドマッチ！
    </p>
    </li>
    <% end %>

    <li class="sports_background">
      <%= link_to hobby_pages_blog_path  do %>
      <%= image_tag "blog1.jpg", size: "219x185" %>
    <p class="titl">
      ブログ
    </p>
    <p class="titl">
      AI
    </p>
    <p class="titl">
      ！マッチ！
    </p>
    </li>
  <% end %>

  <li class="sports_background">
    <%= link_to hobby_pages_writing_path  do %>
    <%= image_tag "writing1.jpg", size: "219x185" %>
  <p class="titl">
    小説執筆
  </p>
  <p class="titl">
    AI
  </p>
  <p class="titl">
    ！マッチ！
  </p>
  </li>
  <% end %>

        </ul>
    </nav>
</div>
</div>
</div>
</div>
</div>
