  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

      <div class="panel panel-default">
        <div class="panel-body">

          <ul class="nav navbar-nav">

            <li>
              <%= link_to category_pages_sports_path  do %>
              <%= image_tag "list_sports.jpg" %>
              <p>スポーツ</p>
              <% end %>
            </li>

            <li>
              <%= link_to category_pages_outdoor_path  do %>
              <%= image_tag "list_outdoor.jpg" %>
              <p>アウトドア</p>
              <% end %>
            </li>

            <li>
              <%= link_to category_pages_art_path  do %>
              <%= image_tag "list_art.jpg" %>
              <p>芸術・ダンス</p>
              <% end %>
            </li>

            <li>
              <%= link_to category_pages_collection_path  do %>
              <%= image_tag "list_collection.jpg" %>
              <p>コレクション</p>
              <% end %>
            </li>

            <li>
              <%= link_to category_pages_craft_path  do %>
              <%= image_tag "list_craft.jpg" %>
              <p>クラフト</p>
              <% end %>
            </li>

            <li>
              <%= link_to category_pages_food_path  do %>
              <%= image_tag "list_food.jpg" %>
              <p>グルメ・料理</p>
              <% end %>
            </li>

            <li>
              <%= link_to category_pages_game_path  do %>
              <%= image_tag "list_game.jpg" %>
              <p>ゲーム</p>
              <% end %>
            </li>

            <li>
              <%= link_to category_pages_growing_path  do %>
              <%= image_tag "list_growing.jpg" %>
              <p>動物・植物</p>
              <% end %>
            </li>

            <li>
              <%= link_to category_pages_lifestyle_path  do %>
              <%= image_tag "list_lifestyle.jpg" %>
              <p>ライフスタイル</p>
              <% end %>
            </li>

            <li>
              <%= link_to category_pages_money_path  do %>
              <%= image_tag "list_money.jpg" %>
              <p>お金</p>
              <% end %>
            </li>

            <li>
              <%= link_to category_pages_music_path  do %>
              <%= image_tag "list_music.jpg" %>
              <p>音楽</p>
              <% end %>
            </li>



            <li>
              <%= link_to category_pages_study_path  do %>
              <%= image_tag "list_study.jpg" %>
              <p>知識・スキル</p>
              <% end %>
            </li>

            <li>
              <%= link_to category_pages_travel_path  do %>
              <%= image_tag "list_travel.jpg" %>
              <p>旅行</p>
              <% end %>
            </li>

            <li>
              <%= link_to category_pages_others_path  do %>
              <%= image_tag "list_others.jpg" %>
              <p>その他</p>
              <% end %>
            </li>

          </ul>
        </div>

      </div>
    </div>
    </div>

  <footer class="footer">
    <nav>
      <ul>
        <li><%= link_to "私たちについて",   about_path %></li>
        <li><%= link_to "お問い合わせ", contact_path %></li>
      </ul>
    </nav>
  </footer>
  </div>
