<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

  <%= link_to "趣味の探し方", root_path , id: "logo" %>

  </div>


  <div class="col-md-offset-6">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム",   root_path %></li>
        <li><%= link_to "趣味まとめ",   list_path %></li>
        <li><%= link_to "趣味診断",   description_path %></li>
        <li><%= link_to "興味タイプリスト",   personality_type_path %></li>

      </ul>
    </nav>
  </div>
  </div>
  </div>
</header>
