    <div class="panel panel-default">
      <div class="panel-body">


    <p>↓こちらからあなたの興味タイプをお探しください↓</p>
    <p>もしお時間がよろしければ、他のタイプを見てみるのもおすすめします。</p>

  </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">


        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <table class="table">

              <tr>
                <td> </td>
                <td> </td>
                <td>
                  <h3>R</h3>
                </td>
                <td> </td>
                <td> </td>
              </tr>

              <tr>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">RI<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "RIA", riasec_pages_RIA_path  %></li>
                      <li role="presentation"><%= link_to "RIS", riasec_pages_RIS_path  %></li>
                      <li role="presentation"><%= link_to "RIE", riasec_pages_RIE_path  %></li>
                      <li role="presentation"><%= link_to "RIC", riasec_pages_RIC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">RA<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "RAI", riasec_pages_RAI_path  %></li>
                      <li role="presentation"><%= link_to "RAS", riasec_pages_RAS_path  %></li>
                      <li role="presentation"><%= link_to "RAE", riasec_pages_RAE_path  %></li>
                      <li role="presentation"><%= link_to "RAC", riasec_pages_RAC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">RS<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "RSI", riasec_pages_RSI_path  %></li>
                      <li role="presentation"><%= link_to "RSA", riasec_pages_RSA_path  %></li>
                      <li role="presentation"><%= link_to "RSE", riasec_pages_RSE_path  %></li>
                      <li role="presentation"><%= link_to "RSC", riasec_pages_RSC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">RE<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "REI", riasec_pages_REI_path  %></li>
                      <li role="presentation"><%= link_to "REA", riasec_pages_REA_path  %></li>
                      <li role="presentation"><%= link_to "RES", riasec_pages_RES_path  %></li>
                      <li role="presentation"><%= link_to "REC", riasec_pages_REC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">RS<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "RSI", riasec_pages_RSI_path  %></li>
                      <li role="presentation"><%= link_to "RSA", riasec_pages_RSA_path  %></li>
                      <li role="presentation"><%= link_to "RSE", riasec_pages_RSE_path  %></li>
                      <li role="presentation"><%= link_to "RSC", riasec_pages_RSC_path  %></li>
                    </ul>
                  </div>
                </td>
              </tr>

      <tr>
        <td> </td>
        <td> </td>
        <td>
          <h3>I</h3>
        </td>
        <td> </td>
        <td> </td>
      </tr>

              <tr>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">IR<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "IRA", riasec_pages_IRA_path  %></li>
                      <li role="presentation"><%= link_to "IRS", riasec_pages_IRS_path  %></li>
                      <li role="presentation"><%= link_to "IRE", riasec_pages_IRE_path  %></li>
                      <li role="presentation"><%= link_to "IRC", riasec_pages_IRC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">IA<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "IAR", riasec_pages_IAR_path  %></li>
                      <li role="presentation"><%= link_to "IAS", riasec_pages_IAS_path  %></li>
                      <li role="presentation"><%= link_to "IAE", riasec_pages_IAE_path  %></li>
                      <li role="presentation"><%= link_to "IAC", riasec_pages_IAC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">IS<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "ISR", riasec_pages_ISR_path  %></li>
                      <li role="presentation"><%= link_to "ISA", riasec_pages_ISA_path  %></li>
                      <li role="presentation"><%= link_to "ISE", riasec_pages_ISE_path  %></li>
                      <li role="presentation"><%= link_to "ISC", riasec_pages_ISC_path  %></li>
                    </ul>
                  </div>
                </td>


                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">IE<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "IER", riasec_pages_IER_path  %></li>
                      <li role="presentation"><%= link_to "IEA", riasec_pages_IEA_path  %></li>
                      <li role="presentation"><%= link_to "IES", riasec_pages_IES_path  %></li>
                      <li role="presentation"><%= link_to "IEC", riasec_pages_IEC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">IC<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "ICR", riasec_pages_ICR_path  %></li>
                      <li role="presentation"><%= link_to "ICA", riasec_pages_ICA_path  %></li>
                      <li role="presentation"><%= link_to "ICS", riasec_pages_ICS_path  %></li>
                      <li role="presentation"><%= link_to "ICE", riasec_pages_ICE_path  %></li>
                    </ul>
                  </div>
                </td>
              </tr>


              <tr>
                <td> </td>
                <td> </td>
                <td>
                  <h3>A</h3>
                </td>
                <td> </td>
                <td> </td>
              </tr>

              <tr>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">AR<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "ARI", riasec_pages_ARI_path  %></li>
                      <li role="presentation"><%= link_to "ARS", riasec_pages_ARS_path  %></li>
                      <li role="presentation"><%= link_to "ARE", riasec_pages_ARE_path  %></li>
                      <li role="presentation"><%= link_to "ARC", riasec_pages_ARC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">AI<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "AIR", riasec_pages_AIR_path  %></li>
                      <li role="presentation"><%= link_to "AIS", riasec_pages_AIS_path  %></li>
                      <li role="presentation"><%= link_to "AIE", riasec_pages_AIE_path  %></li>
                      <li role="presentation"><%= link_to "AIC", riasec_pages_AIC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">AS<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "ASR", riasec_pages_ASR_path  %></li>
                      <li role="presentation"><%= link_to "ASI", riasec_pages_ASI_path  %></li>
                      <li role="presentation"><%= link_to "ASE", riasec_pages_ASE_path  %></li>
                      <li role="presentation"><%= link_to "ASC", riasec_pages_ASC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">AE<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "AER", riasec_pages_AER_path  %></li>
                      <li role="presentation"><%= link_to "AEI", riasec_pages_AEI_path  %></li>
                      <li role="presentation"><%= link_to "AES", riasec_pages_AES_path  %></li>
                      <li role="presentation"><%= link_to "AEC", riasec_pages_AEC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">AC<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "ACR", riasec_pages_ACR_path  %></li>
                      <li role="presentation"><%= link_to "ACI", riasec_pages_ACI_path  %></li>
                      <li role="presentation"><%= link_to "ACS", riasec_pages_ACS_path  %></li>
                      <li role="presentation"><%= link_to "ACE", riasec_pages_ACE_path  %></li>
                    </ul>
                  </div>
                </td>
              </tr>

              <tr>
                <td> </td>
                <td> </td>
                <td>
                  <h3>S</h3>
                </td>
                <td> </td>
                <td> </td>
              </tr>
              <tr>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">SR<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "SRI", riasec_pages_SRI_path  %></li>
                      <li role="presentation"><%= link_to "SRA", riasec_pages_SRA_path  %></li>
                      <li role="presentation"><%= link_to "SRE", riasec_pages_SRE_path  %></li>
                      <li role="presentation"><%= link_to "SRC", riasec_pages_SRC_path  %></li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">SI<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "SIR", riasec_pages_SIR_path  %></li>
                      <li role="presentation"><%= link_to "SIA", riasec_pages_SIA_path  %></li>
                      <li role="presentation"><%= link_to "SIE", riasec_pages_SIE_path  %></li>
                      <li role="presentation"><%= link_to "SIC", riasec_pages_SIC_path  %></li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">SA<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "SAR", riasec_pages_SAR_path  %></li>
                      <li role="presentation"><%= link_to "SAI", riasec_pages_SAI_path  %></li>
                      <li role="presentation"><%= link_to "SAE", riasec_pages_SAE_path  %></li>
                      <li role="presentation"><%= link_to "SAC", riasec_pages_SAC_path  %></li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">SE<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "SER", riasec_pages_SER_path  %></li>
                      <li role="presentation"><%= link_to "SEI", riasec_pages_SEI_path  %></li>
                      <li role="presentation"><%= link_to "SEA", riasec_pages_SEA_path  %></li>
                      <li role="presentation"><%= link_to "SEC", riasec_pages_SEC_path  %></li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">SC<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "SCR", riasec_pages_SCR_path  %></li>
                      <li role="presentation"><%= link_to "SCI", riasec_pages_SCI_path  %></li>
                      <li role="presentation"><%= link_to "SCA", riasec_pages_SCA_path  %></li>
                      <li role="presentation"><%= link_to "SCE", riasec_pages_SCE_path  %></li>
                    </ul>
                  </div>
                </td>
              </tr>

              <tr>
                <td> </td>
                <td> </td>
                <td>
                  <h3>E</h3>
                </td>
                <td> </td>
                <td> </td>
              </tr>

              <tr>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">ER<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "ERI", riasec_pages_ERI_path  %></li>
                      <li role="presentation"><%= link_to "ERA", riasec_pages_ERA_path  %></li>
                      <li role="presentation"><%= link_to "ERS", riasec_pages_ERS_path  %></li>
                      <li role="presentation"><%= link_to "ERC", riasec_pages_ERC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">EI<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "EIR", riasec_pages_EIR_path  %></li>
                      <li role="presentation"><%= link_to "EIA", riasec_pages_EIA_path  %></li>
                      <li role="presentation"><%= link_to "EIS", riasec_pages_EIS_path  %></li>
                      <li role="presentation"><%= link_to "EIC", riasec_pages_EIC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">EA<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "EAR", riasec_pages_EAR_path  %></li>
                      <li role="presentation"><%= link_to "EAI", riasec_pages_EAI_path  %></li>
                      <li role="presentation"><%= link_to "EAS", riasec_pages_EAS_path  %></li>
                      <li role="presentation"><%= link_to "EAC", riasec_pages_EAC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">ES<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "ESR", riasec_pages_ESR_path  %></li>
                      <li role="presentation"><%= link_to "ESI", riasec_pages_ESI_path  %></li>
                      <li role="presentation"><%= link_to "ESA", riasec_pages_ESA_path  %></li>
                      <li role="presentation"><%= link_to "ESC", riasec_pages_ESC_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">EC<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "ECR", riasec_pages_ECR_path  %></li>
                      <li role="presentation"><%= link_to "ECI", riasec_pages_ECI_path  %></li>
                      <li role="presentation"><%= link_to "ECA", riasec_pages_ECA_path  %></li>
                      <li role="presentation"><%= link_to "ECS", riasec_pages_ECS_path  %></li>
                    </ul>
                  </div>
                </td>
              </tr>

              <tr>
                <td> </td>
                <td> </td>
                <td>
                  <h3>C</h3>
                </td>
                <td> </td>
                <td> </td>
              </tr>

              <tr>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">CR<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "CRI", riasec_pages_CRI_path  %></li>
                      <li role="presentation"><%= link_to "CRA", riasec_pages_CRA_path  %></li>
                      <li role="presentation"><%= link_to "CRS", riasec_pages_CRS_path  %></li>
                      <li role="presentation"><%= link_to "CRE", riasec_pages_CRE_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">CI<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "CIR", riasec_pages_CIR_path  %></li>
                      <li role="presentation"><%= link_to "CIA", riasec_pages_CIA_path  %></li>
                      <li role="presentation"><%= link_to "CIS", riasec_pages_CIS_path  %></li>
                      <li role="presentation"><%= link_to "CIE", riasec_pages_CIE_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">CA<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "CAR", riasec_pages_CAR_path  %></li>
                      <li role="presentation"><%= link_to "CAI", riasec_pages_CAI_path  %></li>
                      <li role="presentation"><%= link_to "CAS", riasec_pages_CAS_path  %></li>
                      <li role="presentation"><%= link_to "CAE", riasec_pages_CAE_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">CS<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "CSR", riasec_pages_CSR_path  %></li>
                      <li role="presentation"><%= link_to "CSI", riasec_pages_CSI_path  %></li>
                      <li role="presentation"><%= link_to "CSA", riasec_pages_CSA_path  %></li>
                      <li role="presentation"><%= link_to "CSE", riasec_pages_CSE_path  %></li>
                    </ul>
                  </div>
                </td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">CE<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><%= link_to "CER", riasec_pages_CER_path  %></li>
                      <li role="presentation"><%= link_to "CEI", riasec_pages_CEI_path  %></li>
                      <li role="presentation"><%= link_to "CEA", riasec_pages_CEA_path  %></li>
                      <li role="presentation"><%= link_to "CES", riasec_pages_CES_path  %></li>
                    </ul>
                  </div>
                </td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
